schemata/xbau-nachrichten-baugenehmigung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xbau="http://www.xleitstelle.de/xbau/schema/2/1/" targetNamespace="http://www.xleitstelle.de/xbau/schema/2/1/" version="2.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:appinfo>
      <standard>
        <nameLang>XBau - Standard für die Datenkommunikation der Bauaufsichtsbehörde</nameLang>
        <nameKurz>XBau</nameKurz>
        <nameTechnisch>xbau</nameTechnisch>
        <kennung>urn:xoev-de:bmk:standard:xbau</kennung>
        <beschreibung>XBau ist der XÖV-Standard für den Datenaustausch der Bauaufsichtsbehörden mit ihren Kommunikationspartnern (Bauherren, Architektenbüros, Behörden zahlreicher Rechtsbereiche).</beschreibung>
      </standard>
      <versionStandard>
        <version>2.1</version>
        <beschreibung>In vielen Teilen überarbeitete und erweiterte produktionsreife Fassung des Standards XBau. Auf der Basis des Baurechts des Bundes und der Länder und eng am Bedarf der Praxis der Behörden entwickelt. Erweiterungen und Verbesserungen befinden sich in der Planung auch für die Zukunft.</beschreibung>
        <versionXOEVHandbuch>2.1.0</versionXOEVHandbuch>
        <versionXGenerator>2.6.1</versionXGenerator>
        <versionModellierungswerkzeug>18.0</versionModellierungswerkzeug>
        <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
      </versionStandard>
    </xs:appinfo>
  </xs:annotation>
  <xs:include schemaLocation="xbau-baukasten.xsd" />
  <xs:element name="baugenehmigung.antrag.0200">
    <xs:annotation>
      <xs:appinfo>
        <title>Beantragung einer Baugenehmigung</title>
      </xs:appinfo>
      <xs:documentation>Diese Nachricht stellt einen Bauantrag dar, d.h. durch das Senden dieser Nachricht an die Bauaufsichtsbehörde beantragt der Absender die Genehmigung zu dem in der Nachricht dokumentierten Bauvorhaben. Die Nachricht enthält die Daten des Bauantrags und als Anlage die dazugehörigen Bauvorlagen.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.privat2G">
          <xs:sequence>
            <xs:element name="referenzAntragsteller" type="xbau:ReferenzAntragsteller">
              <xs:annotation>
                <xs:documentation>In dieses Element sind Daten einzutragen, durch die sich der Antrag für spätere Referenzierung in Reaktionsnachrichten der Bauaufsichtsbehörde identifiziert.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="bauvorhaben" type="xbau:Bauvorhaben">
              <xs:annotation>
                <xs:documentation>Hier sind die Daten zum  Bauvorhaben (Wer, Was, Wo) enthalten.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="beantragteAbweichung" minOccurs="0" type="xbau:AbweichungBeantragt">
              <xs:annotation>
                <xs:documentation>Hier sind ggf. Daten zu einer beantragten Abweichung eingefügt, über die im Baugenehmigungsverfahren entschieden werden muss.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="angefragteErleichterung" minOccurs="0" type="xbau:ErleichterungAngefragt">
              <xs:annotation>
                <xs:documentation>Falls eine Erleichterung im Rahmen des Baugenehmigungsverfahrens entschieden werden muss, sind hier die entsprechenden Daten eingefügt.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="baulastErklaerung" minOccurs="0" type="xbau:BaulastErklaerung">
              <xs:annotation>
                <xs:documentation>Falls eine Baulasterklärung im Rahmen des Baugenehmigungsverfahrens gefordert ist, können hier der Zweck der angestrebten Baulast sowie der zu regelnde Sachverhalt beschrieben werden. Das Dokument Baulasterklärung muss sich dann unter den Anlagen dieser Nachricht finden.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="anlagen" type="xbau:Anlagen">
              <xs:annotation>
                <xs:documentation>Die für die Planung des Vorhabens notwendigen Bauvorlagen sind dem Antrag als Anlage
beizufügen (MBO, MBauVorlV). In diesem Element sind die nötigen Daten enthalten. Anlagen zum Bauantrag sind in erster Linie, aber nicht ausschließlich, Bauvorlagen.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="baugenehmigung.formellePruefung.0201">
    <xs:annotation>
      <xs:appinfo>
        <title>Ergebnis der formellen Prüfung</title>
      </xs:appinfo>
      <xs:documentation>Diese Nachricht bezieht sich auf einen bereits gestellten Bauantrag. Enthalten sind hier die Ergebnisse der formellen Prüfung (Befunde) sowie eine Frist, innerhalb derer der Antragsteller den Antrag zum Bauvorhaben  bzw. die Bauunterlagen anzupassen hat.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.G2privat">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den Vorgang (oder den Antrag) bzw. die Nachricht baugenehmigung.antrag.0200 Bezug zu nehmen, durch deren Eingang bei der Bauaufsichtsbehörde der Vorgang ausgelöst worden ist.
Damit wird gleichzeitig dem Antragsteller die entsprechende Vorgangsnummer für künftige Referenzierung mitgeteilt.  Dadurch ist der Bezug zum Bauantrag hergestellt, zu dessen formeller Prüfung die vorliegende Nachricht Ergebnisse enthält.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="befundliste" type="xbau:BefundlisteAntragFormell">
              <xs:annotation>
                <xs:documentation>Hier sind die Ergebnisse der formellen Prüfung enthalten. Sie haben die Form einer Mängel des Bauantrags aufzählenden Liste.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="frist" type="xs:date">
              <xs:annotation>
                <xs:documentation>Dies ist die durch die Behörde gesetzte Frist, innerhalb derer die genannten Mängel durch den Antragsteller zu beseitigen sind und ein überarbeiteter Antrag einzureichen ist.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="baugenehmigung.antragGeaendert.0202">
    <xs:annotation>
      <xs:appinfo>
        <title>Änderungen zum Antrag</title>
      </xs:appinfo>
      <xs:documentation>Diese Nachricht enthält geänderte oder ergänzte Daten des Bauantrags bzw. geänderte oder ergänzte Bauvorlagen. Sie bezieht sich auf einen bereits gestellten Bauantrag.
Entweder  ist sie eine Reaktion auf eine zum Bauantrag vorliegende Mängelliste der Bauaufsichtsbehörde, oder der Antragsteller reicht aus anderen Gründen eine modifizierte Planung im laufenden Verfahren nach.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.privat2G">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf einen Vorgang (oder den Antrag) und ggf. auf eine Nachricht baugenehmigung.formellePruefung.0201, auf die die vorliegende Nachrichteninstanz eine Reaktion ist, Bezug zu nehmen. 

Falls mit der Nachricht initiativ eine geänderte Planung eingereicht wird, ist der Bezug auf eine solche Nachricht nicht enthalten.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="beantragteAbweichung" minOccurs="0" type="xbau:AbweichungBeantragt">
              <xs:annotation>
                <xs:documentation>Hier sind ggf. korrigierte oder ergänzte Daten zu der beantragten Abweichung eingefügt.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="angefragteErleichterung" minOccurs="0" type="xbau:ErleichterungAngefragt">
              <xs:annotation>
                <xs:documentation>Hier sind die ggf. korrigierte oder ergänzte Daten zu der beantragten Erleichterung eingefügt.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="bauvorhabenAenderungsdaten" minOccurs="0" type="xbau:Bauvorhaben">
              <xs:annotation>
                <xs:documentation>Ggf. sind in diesem Element korrigierte oder ergänzte Daten zum Bauvorhaben (Wer, Was, Wo)  zu übermitteln. Daten, die an dieser Stelle eingetragen sind, sollen die aufgeführten Mängel beheben.
Geänderte oder ergänzte Daten werden als Brutto-Datensatz geschickt. Es werden mit diesem Element also die bereinigten und ggf. ergänzten Daten vollständig gesendet, so dass der Empfänger einen 'Datensatz nach Änderung' erhält.
Dabei wird nicht informiert, welche Daten gestrichen, geändert oder ergänzt wurden. Der Datenempfänger wird das also eigenständig ermitteln, soweit auf seiner Seite notwendig. Auch ein Bezug auf den Befund der Befundliste (z.B. Befund-Nr.), der zur Änderung oder Ergänzung führte, ist nicht in der Nachricht enthalten.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
              <xs:annotation>
                <xs:documentation>Hier sind ggf. überarbeitete oder nachgereichte Anlagen bzw. Verweise auf überarbeitete oder nachgereichte Anlagen enthalten.
Nachgereichte Anlagen: Aus der Beschreibung bzw. Bezeichnung der Anlage muss (wie immer) der Charakter der nachgereichten Unterlage hervorgehen. Ein gesonderter Bezug auf den Befund der Befundliste (z.B. Befund-Nr.), der ggf. zur Übermittlung dieser Unterlage führte, ist nicht erforderlich.
Geänderte Anlagen: In diesem Fall wird eine neue Version (jüngeres Erstellungsdatum) einer bereits vorher gelieferten Bauvorlage übermittelt. 
Falls  der Antragsteller initiativ mit der Nachricht eine modifizierte  Planung einreicht, muss unter den Anlagen (je nach Landesbauordnung) ggf. eine Übereinstimmungserklärung enthalten sein. Außerdem muss unter den Anlagen eine Begründung bzw. Erläuterung zur eingereichten geänderten Planung enthalten sein.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="baugenehmigung.anhoerung.0203">
    <xs:annotation>
      <xs:appinfo>
        <title>Hinweis auf Anhörung</title>
      </xs:appinfo>
      <xs:documentation>Diese Nachricht fordert den Bauherrn zur Stellungnahme auf, nachdem die materielle Prüfung des Bauantrags ergeben hat, dass Gründe vorliegen, die zu seiner Ablehnung durch die Bauaufsichtsbehörde führen können. Es sind die Befunde enthalten, die das Ergebnis der materiellen Prüfung sind. Diese werden hier aufgelistet bzw. erläutert mit dem Hinweis, dass Gelegenheit zu Stellungnahme bzw. Nachbesserung  besteht.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.G2privat">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den laufenden Vorgang zum Bauantrag Bezug zu nehmen; außerdem ggf. auf die Nachricht baugenehmigung.antrag.0200, die den Vorgang ausgelöst hat.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="aufforderungZurStellungnahme" type="xbau:Text">
              <xs:annotation>
                <xs:documentation>Hier ist die Aufforderung zu Stellungnahme bzw. Kommentar formuliert.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="bescheidlage" type="xbau:BefundlisteMateriell">
              <xs:annotation>
                <xs:documentation>Hier sind die Gründe genannt, die nach aktueller Lage zur Ablehnung des Bauantrags durch die Bauaufsichtsbehörde führen können. Es handelt sich um eine Liste von Abweichungen von den öffentlich-rechtlichen Vorschriften, die sich aus der laufenden Prüfung des Bauantrags ergeben hat. Zu jedem Eintrag der Liste fordert die Nachricht zu einer Stellungnahme bzw. Nachbesserung auf.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="frist" type="xs:date">
              <xs:annotation>
                <xs:documentation>Dies ist die durch die Behörde gesetzte Frist, innerhalb derer eine Stellungnahme des Antragstellers vorliegen muss, damit sie berücksichtigt werden kann.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="baugenehmigung.stellungnahme.0204">
    <xs:annotation>
      <xs:appinfo>
        <title>Stellungnahme oder Nachbesserung</title>
      </xs:appinfo>
      <xs:documentation>Diese Nachricht bezieht sich auf einen bereits gestellten Bauantrag und auf eine zu diesem
vorliegende Anhörungsnachricht. Sie enthält Stellungnahmen des Bauherrn zu den Eigenschaften des Bauvorhabens bzw. des Bauantrags, die von der Bauaufsichtsbehörde beanstandet wurden. Sie enthält ggf. außerdem den nachgebesserten Antrag bzw. nachgebesserte Bauvorlagen.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.privat2G">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Unterhalb dieses Elements werden Eintragungen vorgenommen, um auf den laufenden Vorgang zum Bauantrag Bezug zu nehmen und außerdem auf die Nachricht baugenehmigung.anhoerung.0203, auf deren Inhalt sich die vorliegende Nachricht bezieht.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="stellungnahme" maxOccurs="unbounded" type="xbau:StellungnahmeBelastenderVerwaltungsakt">
              <xs:annotation>
                <xs:documentation>Hier ist die Reaktion auf die in der Anhörungsnachricht enthaltenen Punkte einzutragen. Dies kann eine Verteidigung der ursprünglichen Konzeption sein, dies kann aber auch eine geänderte Antragsunterlage sein, welche in diesem Fall im Abschnitt Anpassungen dokumentiert ist.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="bauvorhabenAenderungsdaten" minOccurs="0" type="xbau:Bauvorhaben">
              <xs:annotation>
                <xs:documentation>Ggf. sind hier geänderte oder ergänzte Daten zum Bauvorhaben enthalten, passend zur weiter oben gegebenen Stellungnahme bzw. Erläuterung der Anpassung.
Geänderte oder ergänzte Daten werden als Brutto-Datensatz geschickt. Es werden mit diesem Element also die bereinigten und ggf. ergänzten Daten vollständig gesendet, so dass der Empfänger einen 'Datensatz nach Änderung' erhält.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="anlagen" minOccurs="0" type="xbau:Anlagen">
              <xs:annotation>
                <xs:documentation>Hier sind ggf. überarbeitete oder nachgereichte Anlagen bzw. Verweise auf überarbeitete oder nachgereichte Anlagen enthalten, passend zur weiter oben gegebenen Stellungnahme bzw. Erläuterung der Anpassung.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="baugenehmigung.bescheid.0205">
    <xs:annotation>
      <xs:appinfo>
        <title>Bescheid</title>
      </xs:appinfo>
      <xs:documentation>Diese Nachricht stellt den Bescheid dar, in den die Bauaufsichtsbehörde die Ergebnisse ihrer materiellen Prüfung einträgt. Der Bauantrag ist entweder genehmigt, genehmigt mit Nebenbestimmungen
(zum Beispiel unter Auflagen) oder abgelehnt. Das Absenden dieser Nachricht stellt das Erteilen des Bescheids dar.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.G2privat">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Dieses Objekt enthält die Eintragungen, die auf den Vorgang bzw. die Nachricht baugenehmigung.antrag.0200 mit dem Antrag Bezug nehmen, zu dem die vorliegende Nachricht den Bescheid enthält.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="bescheid" type="xbau:Bescheid">
              <xs:annotation>
                <xs:documentation>In diesem Objekt sind die verschiedenen Komponenten des Bescheides enthalten.
Ein Bescheid mit positivem Tenor kann zugelassene oder auch nicht zugelassene Abweichungen (Element abweichung) enthalten. Ein Bescheid mit negativem Tenor kann nur nicht zugelassene Abweichungen enthalten.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="anlagen" type="xbau:Anlagen">
              <xs:annotation>
                <xs:documentation>Hier sind die Anlagen zum Bescheid  bzw. Verweise auf diese Anlagen enthalten. Es handelt sich ggf. um Bauvorlagen, die von der Bauaufsichtsbehörde fortgeschrieben wurden.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="baugenehmigung.gebuehrenbescheid.0206">
    <xs:annotation>
      <xs:appinfo>
        <title>Gebührenbescheid</title>
      </xs:appinfo>
      <xs:documentation>In dieser Nachricht sind die Angaben zu den für die Durchführung des Baugenehmigungsverfahrens zu entrichtenden Gebühren enthalten.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.G2privat">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Dieses Objekt enthält die Eintragungen, die auf den Vorgang bzw. die Nachricht baugenehmigung.antrag.0200 mit dem Antrag Bezug nehmen, zu dem die vorliegende Nachricht den Bescheid enthält.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="gebuehrenbescheid" type="xbau:Gebuehrenbescheid">
              <xs:annotation>
                <xs:documentation>Unterhalb dieses Element finden sich die Angaben zur Gebührenberechnung und -begründung, sowie die Zahlungsdaten und weitere Informationen.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="frist" type="xs:date">
              <xs:annotation>
                <xs:documentation>Dies ist die durch die Behörde gesetzte Zahlungsfrist.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>

