schemata/xbau-nachrichten-anzeige.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xbau="http://www.is-argebau.de/xbau/2" xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes" targetNamespace="http://www.is-argebau.de/xbau/2" version="2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="xbau-baukasten.xsd" />
  <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd" namespace="http://xoev.de/latinchars/1_1/datatypes" />
  <xs:complexType name="Untersagung">
    <xs:annotation>
      <xs:documentation>Dieser Typ deckt alle Informationen ab, die zu einer verfügten Untersagung von Baubeginn bzw. Nutzungsaufnahme gehören können.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fehlendeUnterlagen">
        <xs:annotation>
          <xs:documentation>Hinweise auf fehlende Voraussetzungen (Mängelliste) werden benannt. Es werden die Unterlagen genannt, deren Fehlen zur Untersagung geführt hat.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="unterlage" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Dieses Element steht für eine Unterlage, auf deren Fehlen hingewiesen wird.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="bezeichnung" type="xoev-lc:String.Latin">
                    <xs:annotation>
                      <xs:documentation>Hier ist die Bezeichnung der Unterlage einzutragen.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="erlaeuterung" minOccurs="0" type="xoev-lc:String.Latin">
                    <xs:annotation>
                      <xs:documentation>Hier ist ggf. eine Erläuterung zur fehlenden Unterlage zu geben.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="anordnung" type="xoev-lc:String.Latin">
        <xs:annotation>
          <xs:documentation>Die Anordnung besteht aus einem Sachverhalt (Verstoß wird genannt, z.B. "fehlende Absteckung"), einer Begründung (die Rechtsnorm, die zur Untersagung führt) sowie einer Rechtsbehelfsbelehrung (Textbaustein, ggf. §-Referenz, ggf. als Anlage, z.B. pdf-Datei o.ä.).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="anzeige.baubeginn.0900">
    <xs:annotation>
      <xs:appinfo>
        <title>Anzeige Baubeginn</title>
      </xs:appinfo>
      <xs:documentation>Mit dieser Nachricht teilt der Bauherr der Bauaufsichtsbehörde mit, dass der Start der Umsetzung des Bauprojekts (Baubeginn) zu einem bestimmten Termin geplant ist (Baubeginnanzeige).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.privat2G">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Referenz auf ein Vorhaben, ein Bauprojekt bzw. eine Baugenehmigung: abgebildet als Bezug auf einen Vorgang der Bauaufsichtsbehörde (ein durchlaufenes Baugenehmigungsverfahren) und dessen positiven Bescheid. Der Bescheid kann durch die Übermittlung einer Nachricht baugenehmigung.bescheid.0205 erteilt worden sein kann.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="sachverhalt">
              <xs:annotation>
                <xs:documentation>Hier ist genau einer von drei möglichen Sachverhalten anzugeben, deren Anzeige die vorliegende Nachricht dienen kann (MBO § 72 (6, 8)).</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="baubeginn">
                    <xs:annotation>
                      <xs:documentation>Falls die Nachricht dazu dient, den  Baubeginn eines genehmigten Bauvorhabens anzuzeigen, dann ist dieses Element zu wählen unter Angabe des Datums des geplanten Baubeginns.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="datum" type="xs:date">
                          <xs:annotation>
                            <xs:documentation>Hier ist das Datum einzutragen, zu dem die angegebene Aktivität geplant ist.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ausfuehrungBauabschnitt">
                    <xs:annotation>
                      <xs:documentation>Falls die Nachricht die Aufnahme von Bauarbeiten zur Ausführung eines bestimmten Bauabschnitts anzeigen soll, dann ist dieses Element zu wählen. Zusätzlich sind weitere Angaben zu machen.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="bezeichnungBauabschnitt" type="xoev-lc:String.Latin">
                          <xs:annotation>
                            <xs:documentation>Hier ist die Bezeichnung des Bauabschnitts einzutragen, dessen Arbeiten mittels der Nachricht angezeigt werden soll.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="datum" type="xs:date">
                          <xs:annotation>
                            <xs:documentation>Hier ist das Datum einzutragen, zu dem die angegebene Aktivität geplant ist.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="wiederaufnahmeBauarbeiten">
                    <xs:annotation>
                      <xs:documentation>Falls die Nachricht die Wiederaufnahme von Bauarbeiten anzeigen soll, dann ist dieses Element zu wählen unter Angabe des Datums der geplanten Wiederaufnahme.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="datum" type="xs:date">
                          <xs:annotation>
                            <xs:documentation>Hier ist das Datum einzutragen, zu dem die angegebene Aktivität geplant ist.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="beteiligte" type="xbau:BeteiligteBauprojektUmsetzung">
              <xs:annotation>
                <xs:documentation>Hier sind die an der Bauausführung beteiligten Parteien (Personen bzw. Organisationen) benannt.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="anlagen" type="xbau:Anlagen">
              <xs:annotation>
                <xs:documentation>Hier sind die Anlagen bzw. Verweise auf solche Anlagen beizufügen, die die Bauaufsichtsbehörde für Prüfung und Entscheidung benötigt. Dies sind beispielsweise 'Nachweise vor Baubeginn', soweit sie bei der Erteilung der Baugenehmigung durch die Bauaufsichtsbehörde als Auflage genannt worden sind.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="anzeige.baubeginnUntersagung.0901">
    <xs:annotation>
      <xs:appinfo>
        <title>Untersagung des Baubeginns</title>
      </xs:appinfo>
      <xs:documentation>Diese Nachricht enthält den Hinweis, dass die geplante Maßnahme die Voraussetzungen nicht erfüllt und benennt entsprechende Mängel. Die Bauaufsichtsbehörde fordert zur Nachbesserung auf und untersagt vorläufig die Aufnahme der Bautätigkeiten.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.G2privat">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Bezug auf Vorgang und Nachricht einer Baubeginnanzeige.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="untersagung" type="xbau:Untersagung">
              <xs:annotation>
                <xs:documentation>Dieses Objekt enthält die nötigen Informationen zur verfügten Untersagung.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="anzeige.nutzungsaufnahme.0910">
    <xs:annotation>
      <xs:appinfo>
        <title>Anzeige der Nutzungsaufnahme</title>
      </xs:appinfo>
      <xs:documentation>Mit dieser Nachricht teilt der Bauherr der Bauaufsichtsbehörde mit, dass die Aufnahme der Nutzung des errichteten Gebäudes zu einem bestimmten Termin geplant ist. Mit dieser Anzeige werden (sofern eine Prüfung durch einen Prüfsachverständigen vorgesehen ist) die Bescheinigungen über die ordnungsgemäße Ausführung von Brandschutz und Standsicherheit mitvorgelegt.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.privat2G">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Referenz auf einen Vorgang der Bauaufsichtsbehörde (ein durchlaufenes Baugenehmigungsverfahren) und ggf. auf eine Nachricht, die im Zusammenhang des Vorgangs verschickt worden ist.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="sachverhalt">
              <xs:annotation>
                <xs:documentation>Hier ist der Sachverhalt der geplanten Nutzungsaufnahme angegeben.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="geplanteNutzungsaufnahme">
                    <xs:annotation>
                      <xs:documentation>Dieses Element dient dazu, den Zeitpunkt der geplanten Nutzungsaufnahme mitzuteilen.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="datum" type="xs:date">
                          <xs:annotation>
                            <xs:documentation>Hier ist das Datum einzutragen, zu dem die angegebene Aktivität geplant ist.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="anlagen" type="xbau:Anlagen">
              <xs:annotation>
                <xs:documentation>Hier sind die Anlagen bzw. Verweise auf solche Anlagen einzufügen. Das sind  insbesondere Bescheinigungen über die ordnungsgemäße Ausführung von Brandschutz und Standsicherheit und ggf. weitere Unterlagen, die für die Prüfung durch die Bauaufsichtsbehörde  benötigt werden.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="anzeige.nutzungsaufnahmeUntersagung.0911">
    <xs:annotation>
      <xs:appinfo>
        <title>Untersagung der Nutzungsaufnahme</title>
      </xs:appinfo>
      <xs:documentation>Die Nachricht enthält den Hinweis, dass die geplante Maßnahme die Voraussetzungen nicht erfüllt und benennt entsprechende Mängel. Sie fordert zur Nachbesserung auf.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xbau:Nachricht.G2privat">
          <xs:sequence>
            <xs:element name="bezug" type="xbau:Bezug">
              <xs:annotation>
                <xs:documentation>Bezug auf Vorgang und Nachricht einer Nutzungsbeginnanzeige.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="untersagung" type="xbau:Untersagung">
              <xs:annotation>
                <xs:documentation>Dieses Objekt enthält die nötigen Informationen zur verfügten Untersagung.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>

